{% extends 'base.html'%}

{% block content%}
<div class="container">
    <br>
<form method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
                    <div>
                        <p>{{ field.label }}: <br> {{ field }}</p> 

                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
    {% endfor %}
<div class="text-center">
    <button type="submit" class="btn btn-sm btn mt-4">Log In</button>
</div>
</form>
<br>
<div class="text-center">
    Don't have an account? 
<a class="nav-link" href="{% url 'signup'%}" ><small>Register Here</small></i></a>
</div>
</div>
{% endblock %}