{% extends 'base.html'%}

{% block content%}

   <!-- HERO
    ================================================== -->
    <section class="page-banner-area page-pricing p-4">
       

        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold">Our Pricing plan</h1>
                        <p>You can aso make your own custom plan model for your business.</p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>



<section class="section p-4" id="pricing">
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Affordable Price Plan
                        </h2>

                        <!-- Subheading -->
                        <p>
                            The Clean Team
                            By McAnnie
                            Home & Office cleaning Services
                            
                            3+ years of Experience in Cleaning Services
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center p-4 border">
                <div class="col-lg-4 col-sm-6 col-md-6 p-4 border">
                    <div class="pricing-box">
                       <h3>Standard</h3>
                        <div class="price-block">
                             <h2><small>Ksh</small>13k<span>monthly</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Daily cleaning</li>
                            <li>One cleaning worker everyday</li>
                            <li>cleaning and disinfecting surfaces</li>
                            <li>Tea girl</li>
                            <li>Messenger</li>
                        </ul>

                        <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 p-4 border">
                    <div class="pricing-box">
                        <h3>Premium</h3>
                        <div class="price-block">
                             <h2><small>Ksh</small>23k<span>monthly</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Daily cleaning</li>
                            <li>One cleaning worker everyday</li>
                            <li>cleaning and disinfecting surfaces</li>
                            <li>Tea girl</li>
                            <li>Messenger</li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-6 p-4 border">
                    <div class="pricing-box ">
                        <h3>Business</h3>
                        <div class="price-block">
                             <h2><small>ksh</small>33k<span>monthly</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Daily cleaning</li>
                            <li>One cleaning worker everyday</li>
                            <li>cleaning and disinfecting surfaces</li>
                            <li>Tea girl</li>
                            <li>Messenger</li>
                        </ul>

                        <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


{% endblock %}