{% extends 'base.html'%}

{% block content%}
<br><br>
<div class="container" >
    <br>
<form method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
                    <div>
                        <p>{{ field.label }}: <br> {{ field }}</p> 

                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
    {% endfor %}
    <button type="submit" class="btn btn-warning btn-sm mr-4">SIGN UP</button>
</form>
Have an account? <br>
<a class="btn btn-warning btn-sm mr-4"  href="{% url 'login_view'%}" >LOGIN HERE</a>
</div>
<br>
{% endblock %}